<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sign up form</title>
    </head>
    <body>
        <h1>Users</h1>
        <table>
            <tr>
                <td>Username</td>
                <td>Password</td>
                <td>Admin</td>
            </tr>
            <tr th:each="account : ${accounts}">
                <td th:text="${account.username}"></td>
                <td th:text="${account.password}"></td> 
                <td th:text="${account.admin}"></td>
            </tr>
        </table>
        <form action="#" th:action="@{/newuser}" method="POST">
            <p><label for="username">Username</label>: <input type="text" name="username" id="username"/></p>
            <p><label for="password">Password</label>: <input type="text" name="password" id="password"/></p>
            <p><label for="admin">Is admin</label>: <input type="checkbox" name="admin" id="admin"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>

        <form action="#" th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout" />
            <input type="hidden"
            name="${_csrf.parameterName}"
            value="${_csrf.token}"/>
        </form>
    </body>
</html>
